{% block head %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 
{% endblock %}
{% block navbar %}
 <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">HOME</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
    </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
<div class="container-fluid bg-3 text-center">  
<form method="get" action="." class="form" role="form">
        {{ form.non_field_errors }}
        <div class="form-group">
          <input type="text" name="q" data-toggle="popover" data-placement="bottom" data-content="Press enter to search" class="form-control form-control-lg" placeholder="Descrição do produto ou Código NCM..." value="{{ query }}" data-original-title="" title="" autofocus="autofocus" required>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Search">
        </div>
 
        {% if query %}

        <div class="row">
          <div>
            About {{ imports_count }} results.
            <table class="table table-striped table-bordered table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>INCOTERM</th>
                        <th>DESCRIÇÃO</th>
                        <th>PREÇO</th>
                        <th>QUANTIDADE</th>
                        <th>NCM</th>
                    </tr>
                </thead>
            {% for result in page.object_list %}
            <tr>
            <td>{{ result.incoterm }}</td>
            <td>{{ result.descricao_do_produto }}</td>
            <td><a href="#">Acessar</a></td>
            <td>{{ result.qtd_comercial_field }}</td>
            <td>{{ result.cod_ncm }}</td>
            {% endfor %}
            </tr>
            </table>
       
            <div class="pagination">
              <span class="step-links">
                  {% if page.has_previous %}
                      <a href="?page=1&q={{ request.GET.q }}">&laquo; first</a>
                      <a href="?page={{ page.previous_page_number }}&q={{ request.GET.q }}">previous</a>
                  {% endif %}
          
                  <span class="current">
                      Page {{ page.number }} of {{ page.paginator.num_pages }}.
                  </span>
          
                  {% if page.has_next %}
                      <a href="?page={{ page.next_page_number }}&q={{ request.GET.q }}">next</a>
                      <a href="?page={{ page.paginator.num_pages }}&q={{ request.GET.q }}">last &raquo;</a>
                  {% endif %}
              </span>

            </div>
        </div>

        {% endif %}
</form>
</div>
 
{% endblock %}